ErrorDocument 400 /.assets/php/error.php
ErrorDocument 401 /.assets/php/error.php
ErrorDocument 403 /.assets/php/error.php
ErrorDocument 404 /.assets/php/error.php
ErrorDocument 405 /.assets/php/error.php
ErrorDocument 408 /.assets/php/error.php
ErrorDocument 414 /.assets/php/error.php
ErrorDocument 500 /.assets/php/error.php
ErrorDocument 502 /.assets/php/error.php
ErrorDocument 504 /.assets/php/error.php

DirectoryIndex index.htm index.html index.shtml index.php default.php .index.php